/* Navigation  */
#navbar{
flex-direction: column;
}
#navbar li a{
    font-size: 1rem;
    padding: 0px 4px
}

/* Home Section */
#home{
    height: 284px;
    padding: 48px 93px;

}
#home::before{
    height: 481px;
    width: 105%;
    
}
#home p{
   font-size: 13px;
    
}


#home .btn{
        width: 119px;
        margin: auto;
        padding: 12px 1px;
}
   


/* Services section */
#services{
    flex-direction: column;
}

/* Clients section  */
#clients-section{
    position: relative;
    height: auto;

}
#clients::before {
    content: "";
    position: absolute;
    background: url(../pexels-jane-doan-1092730.jpg) no-repeat center center;
    height: 125%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

#clients{
    overflow: hidden;
   flex-wrap: wrap;
}
#clients img{
   
    height: 80px;
}

/* Contact section  */
#contact-box form{
    width: 80%;
    
}


/* footer */


/* Utility classes  */
.h-primary{
    font-size: 30px;

}